$primary-background: #F2F2F2;
$accent-color: #01F2A9;
$border-color: #322153;
$display-font: "Arvo";
$body-font: "Roboto";

* {
  font-family: $display-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $border-color;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "left middle right";
  grid-template-rows: 5em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $primary-background;
}

.bold {
  font-family: $display-font;
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

header {
  background: white;
  grid-area: header;
  padding: 1em;
  display: flex;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  position: sticky;
}

header h1 {
  cursor: pointer;
}

.icon {
  max-height: 2.5em;
  padding-left: 8em;
}

form button {
  cursor: pointer;
  font-size: 1em;
  background: $accent-color;
  border-radius: .3em;
  padding: 1em;
  margin-top: .3em;
  margin-left: 10%;
  width: 80%;
  height: 3em;
  border: none;
}

button:hover {
  transition: 300ms;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16);
}

main {
  display: flex;
  grid-area: left middle right;
  justify-content: center;
  margin-top: 3em;
  width: 100vw;
}

.left {
  width: 10%;
  height: 100%;
  grid-area: left;
}

.right {
  width: 10%;
  height: 100%;
  grid-area: right;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  // display: none;
  padding: 3em 0em 4.5em;
  width: 40%;
  border-radius: .3em;
  flex-flow: wrap;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
  background: white;
  padding: 3em;
  border-radius: .3em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 300ms;
}

.card:hover {
  transform: scale(1.02);
  transition: 300ms;
}

.card-image {
  width: 30em;
}

.dashboard-entry {
  margin-top: 1em;
  display: flex;
}

.dashboard-info {
  margin-left: 2em;
}

#traveler-dashboard {
  display: none;
  position: relative;
  overflow: scroll;
  background: white;
  height: 75vh;
  width: 100%;
  padding: 3em;
  border-radius: .3em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dashboard-header {
  margin-bottom: 3em;
  width: 50%;
}

.dashboard-header-nav {
  position: absolute;
  top: 3em;
  right: 3em;
}

#traveler-dashboard h2 {
}

.dashboard-header h2 {
  padding-left: 10%;
  border-left: .2em solid $accent-color;
}

.dashboard-image {
  position: relative;
  cursor: pointer;
  transition: 300ms;
}

.overlay-text {
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55%;
  opacity: 0;
  z-index: 10;
  transition: 300ms;
}

.center {
  text-align: center;
  margin-top: 5em;
}

.overlay {
  transition: 300ms;
  background: rgba(255,255,255,0.7);
  opacity: 0;
  position: absolute;
  height: 99%;
  width: 100%;
}

.dashboard-image:hover .overlay-text {
  transition: 300ms;
  opacity: 1;
}

.dashboard-image:hover .overlay {
  transition: 300ms;
  background: rgba(255,255,255,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  opacity: 1;
}

.dashboard-image:hover {
  transition: 300ms;
}

h4 {
  padding-left: calc(10% + .2em);
  margin: 1em 0;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

input {
  font-family: $body-font;
  font-size: 1em;
  background: $primary-background;
  border-radius: .3em;
  padding: 1em;
  margin: 1.2em 0;
  width: 80%;
  height: 3em;
  border: none;
  border-bottom: 2px solid $border-color;
}
