$primary-background: #f2f2f2;
$accent-color: #01f2a9;
$dark: #322153;
$display-font: "Arvo";
$body-font: "Roboto";
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.16);
$light-overlay: rgba(255, 255, 255, 0.7);
